html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(255, 255, 255);
    min-height: 150px;
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.content-form {
    display: flex;
    background-color: rgb(146, 133, 133);
    justify-content: space-evenly;
}.content {
    background-color: rgb(146, 133, 133);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}

.labels {
    display: inline-block;
    width: 80px;
    margin: 10px;
    font-size: 18px;
}

.message{
    margin-left: 90px;
    border-radius: 5px;
    border-color: black;
}

button{
    margin: 10px;
    height: 25px;
    width: 80px;
    border-radius: 5px;
}

input{
    height: 20px;
    border-radius: 5px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}
.contatos{
    display: flex;
    gap: 10px;
}

.iframe{
    margin-top: 10px;
    margin-left:99px;
    display: flex;
    align-self: center;
    border-radius: 10px;
}